<div class="row">
  <div class="col-md-12 text-center">
    <p>Iniciar sesión con cuenta</p>
    <button class="btn btn-outline-primary" (click)="showUsuario = !showUsuario">Usuario</button>
    <button type="button" class="btn btn-outline-success" (click)="login('google')">Google</button>
    <br><br>
  </div>

  <div class="col-md-12" *ngIf="showUsuario">
    <div class="text-center">
      <div class="btn-group" role="group">
        <button type="button" class="btn sim btn-secondary" [ngClass]="{'fast entrada': showUsuario}" (click)="opcion = true">Logearse</button>
        <button type="button" class="btn sim btn-secondary" [ngClass]="{'fast entrada': showUsuario}" (click)="opcion = false">Registrarse</button>
      </div>
    </div>
    <br><br>

    <div class="col-md-8" *ngIf="opcion !== undefined">
      <h5>{{ opcion ? "Login" : "New User"}}</h5>
      <hr>
      <form (ngSubmit)="userActions()">
        <div class="form-group">
          <label>Correo Electronico</label>
          <input type="email" name="usuario" class="form-control" placeholder="usuario@usuario.es" [(ngModel)]="email" required>
        </div>
        <div class="form-group">
          <label>Contraseña</label>
          <input type="password" name="pass" class="form-control" placeholder="*************" [(ngModel)]="pass" required>
        </div>
        <div class="form-group text-right">
          <button type="submit" class="btn btn-primary">{{ opcion ? "Entrar" : "Registrar"}}</button>
        </div>
      </form>
  
      <div class="alert alert-danger" role="alert" *ngIf="err.message">
        <!--  {{ opcion ? "No se ha encontrado el usuario o la contraseña es incorrecta" : "El correo electronico ya está en uso, prueba con otro."}} -->
        {{err.message}}
      </div>
    </div>
  </div>
</div>